
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

.tree-row {
    border-bottom: 1px dashed silver;
    padding: 4px 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.biddingSequenceHeader th {
    max-width: 100px;
    text-align: center;
}

.biddingSequenceTable {
    width: 100%;
    text-align: center;
}

.bid-description-header {
    text-align: right;
}


.full-bid-description {
    white-space: pre-wrap;
}

.biddingBox {
    width: 100%;
    text-align: center;
}

.biddingBox td{
    height: 30px;
    text-align: center;
    border: solid 1px silver;
    cursor: pointer;
}

.biddingBox td:hover {
    background-color: lightgray;
}

.biddingBox span {
    cursor: pointer;
}

.RenderBody {
    margin-bottom: 20px;
}


/*Custom template modfiactions*/
.footer {
    margin-bottom: -20px;
    padding: 50px 0 20px 0;
}