
<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Bridge lesson</h1>
            <p class="lead">This site will help you to learn about 2 most important things in contract bridge: Leading and Bidding.</p>
        </div>
        <div class="text-center">
            <p>What would you like to practice?</p>
            
            <a href="@Url.Action("LeadingLesson")" class="btn btn-primary" title="Leading is choosing the card that should be played from given card configuration. It helps partner to understand your values in this color">Leading lesson</a>
            <a href="@Url.Action("BiddingLesson")" class="btn btn-primary" title="Having the same agreements with your partner in bidding helps you to play the best possible contract">Bidding lesson</a>
        </div>
        
     </div>
</div>