
<div class="row" ng-app="BridgeLessonModule">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Bidding system lesson</h1>
            <p class="lead">This site would help you improve your bidding system</p>
        </div>
        <div ng-controller="BiddingSystemController as biddingCtrl">
            <bidding-quiz ng-hide="biddingCtrl.isLastProblem"></bidding-quiz>
            <div ng-show="biddingCtrl.isLastProblem">
                <bidding-quiz-results></bidding-quiz-results>
                <a href="@Url.Action("BiddingLesson")" class="btn btn-primary">Restart quiz</a>
                <a href="@Url.Action("Index")" class=" class=" btn btn-primary">Back to main page</a>
            </div>
        </div>
    </div>
</div>
