
<div class="row" ng-app="BridgeLessonModule">
    <div class="col-sm-12">
        <a href="@Url.Action("BiddingLesson")" class="btn btn-link">Back to the bidding page</a>
        <div class="subpage-header">
            <h2>Bidding system lesson</h2>
            <p>You can check and verify your bidding system details here</p>
        </div>
        <div ng-controller="BiddingSystemController as biddingSystemCtrl">
            <div class="well row">
                <div class="col-md-4">
                    <span>Please select system:</span>
                    <select name="" id="" ng-model="biddingSystemCtrl.selectedSystem" class="form-control"
                            ng-change="biddingSystemCtrl.updateSystem(); biddingSystemTreeView.currentNode = null"
                            ng-options="system.Name for system in biddingSystemCtrl.allSystems track by system.Id">
                        <option value="">Choose system</option>
                    </select>

                    <div>
                        <add-new-system-control></add-new-system-control>
                    </div>
                </div>
                <div class="col-md-8">
                    <div ng-if="biddingSystemCtrl.selectedSystem != undefined">
                        <strong>System description:</strong><br />
                        <i>{{biddingSystemCtrl.selectedSystem.Description}}</i>
                    </div>
                </div>
            </div>
            <div ng-if="biddingSystemCtrl.selectedSystem != undefined">
                <div class="row">
                    <add-new-bidding-sequence></add-new-bidding-sequence>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-6">
                        <div data-tree-id="biddingSystemTreeView"
                             data-angular-treeview="true"
                             data-tree-model="biddingSystemCtrl.allBiddingExamplesAsParentChild"
                             data-node-id="BidSequence"
                             data-node-label="BidSymbol | biddingSymbols"
                             data-node-extended-label="OriginalObject.Answer | biddingSymbols"
                             data-node-children="NextBids"
                             data-node-click="biddingSystemCtrl.newSequence = biddingSystemTreeView.currentNode.BidSequence">
                        </div>
                    </div>
                    <div class="col-xs-6" ng-if="biddingSystemTreeView.currentNode">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row list-group-item">
                                    <div class="col-xs-12">
                                        <strong>Sequence:</strong>
                                        <span ng-bind-html="biddingSystemTreeView.currentNode.BidSequence | bidding"></span>
                                    </div>
                                </div>
                                <div class="row list-group-item">
                                    <div class="col-xs-12" data-ng-show="biddingSystemCtrl.selectedSequenceMode !='editSelectedSequence'">
                                        <div class="bid-description-header">
                                            <span class="glyphicon glyphicon-pencil" data-ng-click="biddingSystemCtrl.selectedSequenceMode ='editSelectedSequence'" title="edit"></span>
                                            <span class="glyphicon glyphicon-remove" data-ng-click="biddingSystemCtrl.removeBiddingSequenceFromSystem(biddingSystemTreeView.currentNode.OriginalObject)" title="remove"></span>
                                        </div>
                                        <strong>Description:</strong>
                                        <span class="full-bid-description" ng-bind-html="biddingSystemTreeView.currentNode.OriginalObject.Answer | biddingSymbols"></span>
                                    </div>
                                    <div data-ng-show="biddingSystemCtrl.selectedSequenceMode =='editSelectedSequence'">
                                        <form data-ng-submit="biddingSystemCtrl.updateSequence(biddingSystemTreeView.currentNode.OriginalObject); biddingSystemCtrl.endEditingBid()">
                                            <textarea class="form-control" id="currentAnswer" name="currentAnswer" data-ng-model="biddingSystemTreeView.currentNode.OriginalObject.Answer" ng-model-options="{ updateOn: 'submit' }"></textarea>
                                            <input type="submit" value="Save" class="btn btn-default">
                                            <input type="button" value="Cancel" class="btn btn-default" data-ng-click="currentAnswer.$rollbackViewValue(); biddingSystemCtrl.cancelCurrentAnswerEditing()">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <strong>Further sequences:</strong>
                                <ul>
                                    <li class="list-group-item" ng-repeat="bid in biddingSystemTreeView.currentNode.NextBids">
                                        <span ng-bind-html="bid.BidSymbol | biddingSymbols"></span>
                                        <span class="glyphicon glyphicon-arrow-right"></span>
                                        <span ng-bind-html="bid.OriginalObject.Answer | biddingSymbols"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



