<div class="container">

    <div class="row" ng-app="BridgeLessonModule">
        <div class="col-sm-12">
            <div class="subpage-header">
                <h2>Bidding system quiz</h2>
                <p>Check your knowledge about the bidding system used</p>
            </div>
            <div ng-controller="BiddingQuizController as biddingCtrl">
                <div class="row">
                    <div class="col-md-12">
                        <span>Please select system:</span>
                        <select name="" id="" ng-model="biddingCtrl.selectedSystem" class="form-control"
                                ng-change="biddingCtrl.updateSystem()"
                                ng-options="system.Name for system in biddingCtrl.allSystems track by system.Id">
                            <option value="">Choose system</option>
                        </select>
                    </div>
                </div>

                <div class="row" ng-if="biddingCtrl.selectedSystem && biddingCtrl.biddingExamples.length>0">
                    <div class="col-md-12">
                        <bidding-quiz ng-hide="biddingCtrl.allProblemsSolved"></bidding-quiz>
                        <div ng-if="biddingCtrl.allProblemsSolved">
                            <bidding-quiz-results></bidding-quiz-results>
                            <a href="@Url.Action("BiddingQuiz")" class="btn btn-navigate">Restart quiz</a>
                            <a href="@Url.Action("BiddingLesson")" class="btn btn-navigate">Back to bidding page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
