@{
    ViewBag.Title = "Contact";
    //Layout = "_Layout";
}
@Html.Partial("Themes/Acme/Breadcrumbs")
<div class="container">

    <h2>Contact</h2>
    <p>Hi!</p>
    <p>
        My name is Bartlomiej Igla, I used to be a Polish Junior National Team Player, I am also University World Championship.
    </p>
    <p>Since I moved to Switzerland, I have decided to represent the Swiss national team.</p>
    <p>If you would like to contact me for some more details regarding bridge, or play a tournament, here you can find a way to do that:</p>
    <address>
        <p>
            <i class="fa fa-phone pr-10"></i>Phone : +41 789 26 44 91
        </p>
        <p>
            <i class="fa fa-envelope pr-10"></i>Email : <a href="javascript:;">bartlomiej.igla@@gmail.com</a>
        </p>
    </address>
</div>